<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Add New Memo</h1>
    <form action="/memos" method="post" enctype="multipart/form-data">
        Title: <input type="text" name="title" required><br>
        Text: <textarea name="text" required></textarea><br>
        Image: <input type="file" name="image"><br>
        <input type="submit" value="Add Memo">
    </form>
</body>

</html>