<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Memo</title>
</head>

<body>
    <h1>Edit Memo</h1>
    <form action="/memos/edit/<%= memo.id %>" method="post" enctype="multipart/form-data">
        Title: <input type="text" name="title" value="<%= memo.title %>" required><br>
        Text: <textarea name="text" required><%= memo.text %></textarea><br>
        <input type="hidden" name="imagePath" value="<%= memo.image %>">
        Change Image: <input type="file" name="image"><br>
        <input type="submit" value="Update Memo">
    </form>
</body>

</html>